:root {
    --background-color : #eee;
    --primary-color: #ffa800;
    --black-color: #000;
    --white-color: #fff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Montserrat';
}