@font-face {
    font-family: Montserrat;
    src: url(./assets/font/Montserrat-VariableFont_wght.ttf);
}

:root {
    --background-color : #eee;
    --primary-color: #ffa800;
    --black-color: #000;
    --white-color: #fff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Montserrat';
}

ul {
    margin-block-end: 0;
}